{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2 class="text-muted-blue"><strong>Dashboard</strong></h2>
<h4 class="text-muted-blue"> Goal: {{goal}} </h4>
<div class="mb-3 text-center">
  <a href="?range=week" class="btn btn-soft {% if view_range == 'week' %}active{% endif %}">This Week</a>
  <a href="?range=month" class="btn btn-soft {% if view_range == 'month' %}active{% endif %}">This Month</a>
  <a href="?range=all" class="btn btn-soft {% if view_range == 'all' %}active{% endif %}">All Time</a>
</div>

<h5 class="mx-auto p-2" style="width: 600px;"><strong>Balance:</strong> ${{ balance }} | <strong>Total Income:</strong> ${{ income }} | <strong>Expense:</strong> ${{ expense }}</h5>

<h3 class="mt-4">Transactions</h3>
<div class="row">
  <!-- Income Column -->
  <div class="col-md-6">
    <h4>Income</h4>
    <ul class="list-group mb-4">
      {% for t in transactions %}
        {% if t.type == 'income' %}
          <li class="list-group-item">
            {{ t.date }} - {{ t.category }} - ${{ t.amount }} - {{ t.description }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- Expense Column -->
  <div class="col-md-6">
    <h4>Expenses</h4>
    <ul class="list-group mb-4">
      {% for t in transactions %}
        {% if t.type == 'expense' %}
          <li class="list-group-item">
            {{ t.date }} - {{ t.category }} - ${{ t.amount }} - {{ t.description }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


<h3 class="mt-4">Graphs</h3>
<img src="data:image/png;base64, {{graph}}" class="img-fluid rounded mb-3"/>
<img src="data:image/png;base64, {{pie_graph}}" class="img-fluid rounded"/>

<a href="{% url 'add_category' %}" class="btn btn-outline-secondary mt-4">Add Category</a>
<a href="{% url 'add_transaction' %}" class="btn btn-outline-secondary mt-4">Add Transaction</a>
{% endblock %}
